<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Attacks.plist
   PMinGame

   Created by Theodore Abshire on 11/3/15.
   Copyright (c) 2015 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>template</key>
	<dict>
		<key>damage</key> <integer>20</integer>
		<key>accuracy</key> <integer>100</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>20</integer>
		<key>upgrade for</key> <string>template</string>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>quick</key> <true/>
		<key>leech</key> <true/>
		<key>free on miss</key> <true/>
		<key>user effects</key>
		<dict>
			<key>attack steps</key> <integer>1</integer>
			<key>defense steps</key> <integer>1</integer>
			<key>accuracy steps</key> <integer>1</integer>
			<key>dodge steps</key> <integer>1</integer>
			<key>paralysis chance</key> <integer>50</integer>
			<key>freeze chance</key> <integer>50</integer>
			<key>bleed chance</key> <integer>50</integer>
			<key>burning chance</key> <integer>50</integer>
			<key>sleep chance</key> <integer>50</integer>
			<key>confusion chance</key> <integer>50</integer>
			<key>nonlethal</key> <true/>
			<key>cleanse</key> <true/>
		</dict>
		<key>enemy effects</key>
		<dict>
			<key>attack steps</key> <integer>1</integer>
			<key>defense steps</key> <integer>1</integer>
			<key>accuracy steps</key> <integer>1</integer>
			<key>dodge steps</key> <integer>1</integer>
			<key>paralysis chance</key> <integer>50</integer>
			<key>freeze chance</key> <integer>50</integer>
			<key>bleed chance</key> <integer>50</integer>
			<key>burning chance</key> <integer>50</integer>
			<key>sleep chance</key> <integer>50</integer>
			<key>confusion chance</key> <integer>50</integer>
			<key>leech</key> <true/>
			<key>nonlethal</key> <true/>
			<key>cleanse</key> <true/>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name did a sample thing!</string>
		<key>miss message</key> <string>*Name tried to do a sample thing, but missed!</string>
		<key>description</key> <string>does things.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<!-- -->
	<!-- desperation attacks -->
	<!-- -->
	<key>struggle</key>
	<dict>
		<key>damage</key> <integer>10</integer>
		<key>accuracy</key> <integer>70</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>999</integer>
		<!-- properties -->
		<key>user effects</key>
		<dict>
			<key>bleed chance</key> <integer>5</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name struggled desperately!</string>
		<key>miss message</key> <string>*Name struggled desperately, but to no avail!</string>
	</dict>
	<key>ice tackle</key>
	<dict>
		<key>damage</key> <integer>20</integer>
		<key>accuracy</key> <integer>60</integer>
		<key>type</key> <string>frost</string>
		<key>power points</key> <integer>999</integer>
		<!-- properties -->
		<key>user effects</key>
		<dict>
			<key>defense steps</key> <integer>-1</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name flung *himself into *OnName with a crack!</string>
		<key>miss message</key> <string>*Name flung *himself towards *OnName, but missed!</string>
	</dict>
	<key>spook</key>
	<dict>
		<key>damage</key> <integer>2</integer>
		<key>accuracy</key> <integer>50</integer>
		<key>type</key> <string>astral</string>
		<key>power points</key> <integer>999</integer>
		<!-- properties -->
		<key>enemy effects</key>
		<dict>
			<key>accuracy steps</key> <integer>-1</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name spooked *OnName!</string>
		<key>miss message</key> <string>*Name acted scary, but *OnName was unimpressed!</string>
	</dict>
	<key>jolt</key>
	<dict>
		<key>damage</key> <integer>6</integer>
		<key>accuracy</key> <integer>80</integer>
		<key>type</key> <string>spark</string>
		<key>power points</key> <integer>999</integer>
		<!-- properties -->
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name released a small bolt of static electricity!</string>
		<key>miss message</key> <string>*Name tried to release electricity, but *he was grounded!</string>
	</dict>
	<key>heat</key>
	<dict>
		<key>damage</key> <integer>10</integer>
		<key>type</key> <string>flame</string>
		<key>power points</key> <integer>999</integer>
		<!-- properties -->
		<key>user effects</key>
		<dict>
			<key>freeze chance</key> <integer>30</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name radiated off some of *his body heat!</string>
	</dict>
	<!-- -->
	<!-- physical attacks -->
	<!-- -->
	<!-- sword line -->
	<key>sword</key>
	<dict>
		<key>damage</key> <integer>18</integer>
		<key>accuracy</key> <integer>75</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>20</integer>
		<!-- properties -->
		<key>enemy effects</key>
		<dict>
			<key>bleed chance</key> <integer>5</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name slashed *his sword at *OnName!</string>
		<key>miss message</key> <string>*Name tried to slash *his sword at *OnName, but missed!</string>
		<key>description</key> <string>does physical damage and has a low chance of inflicting bleed.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>chainsaw</key>
	<dict>
		<key>damage</key> <integer>27</integer>
		<key>accuracy</key> <integer>75</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>18</integer>
		<key>upgrade for</key> <string>sword</string>
		<!-- properties -->
		<key>enemy effects</key>
		<dict>
			<key>bleed chance</key> <integer>7</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name revved up *his chainsaw and swung it at *OnName!</string>
		<key>miss message</key> <string>*Name tried to hit *OnName with a chainsaw, but swung wide!</string>
		<key>description</key> <string>does physical damage and has a low chance of inflicting bleed.</string>
		<key>tier</key> <integer>2</integer>
	</dict>
	<key>vibrating blade</key>
	<dict>
		<key>damage</key> <integer>36</integer>
		<key>accuracy</key> <integer>75</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>16</integer>
		<key>upgrade for</key> <string>chainsaw</string>
		<!-- properties -->
		<key>enemy effects</key>
		<dict>
			<key>bleed chance</key> <integer>5</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name swiped at *OnName with *his vibrating blade!</string>
		<key>miss message</key> <string>*Name tried to slash *his vibrating blade at *OnName, but missed!</string>
		<key>description</key> <string>does physical damage and has a low chance of inflicting bleed.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<!-- bite line -->
	<key>bite</key>
	<dict>
		<key>damage</key> <integer>9</integer>
		<key>accuracy</key> <integer>70</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>20</integer>
		<!-- properties -->
		<key>leech</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>bleed chance</key> <integer>15</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name took a big bite out of *OnName!</string>
		<key>miss message</key> <string>*Name tried to bite *OnName, but *OnName fended *him off!</string>
		<key>description</key> <string>does light physical damage, has a high chance of inflicting bleed, and heals the user.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>gouge</key>
	<dict>
		<key>damage</key> <integer>18</integer>
		<key>accuracy</key> <integer>70</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>16</integer>
		<key>upgrade for</key> <string>bite</string>
		<!-- properties -->
		<key>leech</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>bleed chance</key> <integer>15</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name took a huge bite out of *OnName!</string>
		<key>miss message</key> <string>*Name tried to bit *OnName, but *OnName fended *him off!</string>
		<key>description</key> <string>does light physical damage, has a high chance of inflicting bleed, and heals the user.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<!-- slam line -->
	<key>slam</key>
	<dict>
		<key>damage</key> <integer>15</integer>
		<key>accuracy</key> <integer>85</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>30</integer>
		<!-- properties -->
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name slammed *OnName!</string>
		<key>miss message</key> <string>*Name tried to slam *OnName, but missed!</string>
		<key>description</key> <string>does physical damage.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>heavy slam</key>
	<dict>
		<key>damage</key> <integer>30</integer>
		<key>accuracy</key> <integer>85</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>26</integer>
		<key>upgrade for</key> <string>slam</string>
		<!-- properties -->
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name mightily slammed *OnName!</string>
		<key>miss message</key> <string>*Name tried to slam *OnName, but missed!</string>
		<key>description</key> <string>does physical damage.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<!-- knife line -->
	<key>knife</key>
	<dict>
		<key>damage</key> <integer>13</integer>
		<key>accuracy</key> <integer>95</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>20</integer>
		<!-- properties -->
		<key>enemy effects</key>
		<dict>
			<key>bleed chance</key> <integer>10</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name jabbed *his knife at *OnName!</string>
		<key>miss message</key> <string>*Name jabbed *his knife at *OnName, but missed!</string>
		<key>description</key> <string>does light physical damage and has a moderate chance of inflicting bleed.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>barbed knife</key>
	<dict>
		<key>damage</key> <integer>20</integer>
		<key>accuracy</key> <integer>95</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>18</integer>
		<key>upgrade for</key> <string>knife</string>
		<!-- properties -->
		<key>enemy effects</key>
		<dict>
			<key>bleed chance</key> <integer>14</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name stabbed *OnName with *his barbed knife!</string>
		<key>miss message</key> <string>*Name tried to stab *OnName with *his barbed knife, but missed!</string>
		<key>description</key> <string>does light physical damage and has a moderate chance of inflicting bleed.</string>
		<key>tier</key> <integer>2</integer>
	</dict>
	<key>monoedge</key>
	<dict>
		<key>damage</key> <integer>26</integer>
		<key>accuracy</key> <integer>95</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>16</integer>
		<key>upgrade for</key> <string>barbed knife</string>
		<!-- properties -->
		<key>enemy effects</key>
		<dict>
			<key>bleed chance</key> <integer>10</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name cut *OnName with *his monoedge knife!</string>
		<key>miss message</key> <string>*Name tried to cut *OnName with *his monoedge knife, but cut the air instead!</string>
		<key>description</key> <string>does light physical damage and has a moderate chance of inflicting bleed.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<!-- musket line -->
	<key>musket</key>
	<dict>
		<key>damage</key> <integer>18</integer>
		<key>accuracy</key> <integer>80</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>15</integer>
		<!-- properties -->
		<key>ranged</key> <true/>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name fired at *OnName with *his musket!</string>
		<key>miss message</key> <string>*Name fired *his musket and hit the horizon!</string>
		<key>description</key> <string>does physical damage.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>rifle</key>
	<dict>
		<key>damage</key> <integer>27</integer>
		<key>accuracy</key> <integer>80</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>13</integer>
		<key>upgrade for</key> <string>musket</string>
		<!-- properties -->
		<key>ranged</key> <true/>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name carefully shot *OnName with *his rifle!</string>
		<key>miss message</key> <string>*Name tried to shoot *OnName with *his rifle, but was unable to line up a shot!</string>
		<key>description</key> <string>does physical damage.</string>
		<key>tier</key> <integer>2</integer>
	</dict>
	<key>clockwork rifle</key>
	<dict>
		<key>damage</key> <integer>36</integer>
		<key>accuracy</key> <integer>80</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>11</integer>
		<key>upgrade for</key> <string>rifle</string>
		<!-- properties -->
		<key>ranged</key> <true/>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name unloaded a clip at *OnName with *his clockwork rifle!</string>
		<key>miss message</key> <string>*Name unloaded a clip at *OnName, but none of the bullets hit!</string>
		<key>description</key> <string>does physical damage.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<!-- misc physical attacks -->
	<key>subdue</key>
	<dict>
		<key>damage</key> <integer>21</integer>
		<key>accuracy</key> <integer>70</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>10</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>nonlethal</key> <true/>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name tackled *OnName to the ground!</string>
		<key>miss message</key> <string>*Name tried to tackle *OnName, who sidestepped!</string>
		<key>description</key> <string>does physical damage and is unable to kill foes.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>feint</key>
	<dict>
		<key>damage</key> <integer>10</integer>
		<key>accuracy</key> <integer>75</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>10</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>user effects</key>
		<dict>
			<key>dodge steps</key> <integer>1</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name feinted at *OnName!</string>
		<key>miss message</key> <string>*Name feinted, but *OnName wasn't fooled!</string>
		<key>description</key> <string>does physical damage and raises the user's evasion.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>grenade</key>
	<dict>
		<key>damage</key> <integer>23</integer>
		<key>accuracy</key> <integer>100</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>4</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>bleed chance</key> <integer>75</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name threw a grenade at *OnName!</string>
		<key>miss message</key> <string>*Name threw a grenade, but *OnName kicked it safely away!</string>
		<key>description</key> <string>does physical damage and has a high chance of inflicting bleed.</string>
		<key>tier</key> <integer>2</integer>
	</dict>
	<key>storm hammer</key>
	<dict>
		<key>damage</key> <integer>40</integer>
		<key>accuracy</key> <integer>70</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>6</integer>
		<!-- properties -->
		<key>enemy effects</key>
		<dict>
			<key>paralysis chance</key> <integer>10</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name swung *his mighty storm hammer into *OnName!</string>
		<key>miss message</key> <string>*Name swung *his mighty storm hammer, and it hit the ground!</string>
		<key>description</key> <string>does physical damage and has a low chance of inflicting paralysis.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<key>mug</key>
	<dict>
		<key>damage</key> <integer>18</integer>
		<key>accuracy</key> <integer>75</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>4</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>mug</key> <true/>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name leapt at *OnName!</string>
		<key>miss message</key> <string>*Name leapt at *OnName, who backed away!</string>
		<key>description</key> <string>does physical damage and steals karma from the enemy.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>net gun</key>
	<dict>
		<key>damage</key> <integer>8</integer>
		<key>accuracy</key> <integer>90</integer>
		<key>type</key> <string>physical</string>
		<key>power points</key> <integer>10</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>dodge steps</key> <integer>-1</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name pulled out a net gun and fired it at *OnName!</string>
		<key>miss message</key> <string>*Name tried to shoot *OnName with a net gun, but it jammed!</string>
		<key>description</key> <string>does physical damage and lowers the enemy's evasion.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<!-- -->
	<!-- astral attacks -->
	<!-- -->
	<!-- phase touch line -->
	<key>phase touch</key>
	<dict>
		<key>damage</key> <integer>13</integer>
		<key>accuracy</key> <integer>100</integer>
		<key>type</key> <string>astral</string>
		<key>power points</key> <integer>15</integer>
		<!-- properties -->
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name sunk *his hand into *OnName!</string>
		<key>miss message</key> <string>*Name tried to touch *OnName, but *he passed through harmlessly!</string>
		<key>description</key> <string>does astral damage.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>ghost touch</key>
	<dict>
		<key>damage</key> <integer>20</integer>
		<key>accuracy</key> <integer>100</integer>
		<key>type</key> <string>astral</string>
		<key>power points</key> <integer>13</integer>
		<key>upgrade for</key> <string>phase touch</string>
		<!-- properties -->
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name thrust *his arm into *OnName!</string>
		<key>miss message</key> <string>*Name tried to touch *OnName, but *he passed through harmlessly!</string>
		<key>description</key> <string>does astral damage.</string>
		<key>tier</key> <integer>2</integer>
	</dict>
	<key>heartstopper</key>
	<dict>
		<key>damage</key> <integer>26</integer>
		<key>accuracy</key> <integer>100</integer>
		<key>type</key> <string>astral</string>
		<key>power points</key> <integer>11</integer>
		<key>upgrade for</key> <string>ghost touch</string>
		<!-- properties -->
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name reached into *OnName in search of vitals!</string>
		<key>miss message</key> <string>*Name tried to touch *OnName, but *he passed through harmlessly!</string>
		<key>description</key> <string>does astral damage.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<!-- energy drain line -->
	<key>energy drain</key>
	<dict>
		<key>damage</key> <integer>10</integer>
		<key>accuracy</key> <integer>70</integer>
		<key>type</key> <string>astral</string>
		<key>power points</key> <integer>10</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>leech</key> <true/>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name pressed *his hand against *OnName. *OnName began to glow!</string>
		<key>miss message</key> <string>*Name tried to drain *OnName, but was unable to land a touch!</string>
		<key>description</key> <string>does light astral damage and heals the user.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>super drain</key>
	<dict>
		<key>damage</key> <integer>18</integer>
		<key>accuracy</key> <integer>75</integer>
		<key>type</key> <string>astral</string>
		<key>power points</key> <integer>8</integer>
		<key>upgrade for</key> <string>energy drain</string>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>leech</key> <true/>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name pressed both hands against *OnName. *OnName began to glow!</string>
		<key>miss message</key> <string>*Name tried to drain *OnName, but was unable to land a touch!</string>
		<key>description</key> <string>does light astral damage and heals the user.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<!-- misc astral attacks -->
	<key>blinding light</key>
	<dict>
		<key>damage</key> <integer>7</integer>
		<key>accuracy</key> <integer>90</integer>
		<key>type</key> <string>astral</string>
		<key>power points</key> <integer>10</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>accuracy steps</key> <integer>-1</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name released an intense light!</string>
		<key>miss message</key> <string>*Name released an intense light, but *OnName looked away!</string>
		<key>description</key> <string>does light astral damage and lowers the accuracy of the enemy.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>astral wheel</key>
	<dict>
		<key>damage</key> <integer>55</integer>
		<key>accuracy</key> <integer>50</integer>
		<key>type</key> <string>astral</string>
		<key>power points</key> <integer>10</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>free on miss</key> <true/>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name summoned the astral wheel and struck *OnName with it!</string>
		<key>miss message</key> <string>*Name tried to summon the astral wheel, but was unable to control it!</string>
		<key>description</key> <string>does heavy astral damage and is free on a miss.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<key>havoc</key>
	<dict>
		<key>damage</key> <integer>15</integer>
		<key>accuracy</key> <integer>80</integer>
		<key>type</key> <string>astral</string>
		<key>power points</key> <integer>12</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>confusion chance</key> <integer>10</integer>
			<key>leech</key> <true/>
			<key>nonlethal</key> <true/>
			<key>cleanse</key> <true/>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name overwhelmed *OnName with ghastly tricks!</string>
		<key>miss message</key> <string>*Name tried overwhelm *OnName, but *OnName was merely whelmed!</string>
		<key>description</key> <string>does astral damage and has a moderate chance to inflict confusion.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<!-- -->
	<!-- flame attacks -->
	<!-- -->
	<!-- puff of flame line -->
	<key>puff of flame</key>
	<dict>
		<key>damage</key> <integer>20</integer>
		<key>accuracy</key> <integer>70</integer>
		<key>type</key> <string>flame</string>
		<key>power points</key> <integer>13</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>burning chance</key> <integer>5</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name fired a puff of flame at *OnName!</string>
		<key>miss message</key> <string>*Name fired a puff of flame at *OnName, who hopped away!</string>
		<key>description</key> <string>does flame damage and has a low chance of inflicting burning.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>flamethrower</key>
	<dict>
		<key>damage</key> <integer>30</integer>
		<key>accuracy</key> <integer>70</integer>
		<key>type</key> <string>flame</string>
		<key>power points</key> <integer>11</integer>
		<key>upgrade for</key> <string>puff of flame</string>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>burning chance</key> <integer>7</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name fired a jet of flames at *OnName!</string>
		<key>miss message</key> <string>*Name fired a jet of flames at *OnName, who hopped away!</string>
		<key>description</key> <string>does flame damage and has a low chance of inflicting burning.</string>
		<key>tier</key> <integer>2</integer>
	</dict>
	<key>hellfire</key>
	<dict>
		<key>damage</key> <integer>40</integer>
		<key>accuracy</key> <integer>70</integer>
		<key>type</key> <string>flame</string>
		<key>power points</key> <integer>9</integer>
		<key>upgrade for</key> <string>flamethrower</string>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>burning chance</key> <integer>5</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name fired a jet of intense flames at *OnName!</string>
		<key>miss message</key> <string>*Name fired a jet of intense flames at *OnName, who hopped away!</string>
		<key>description</key> <string>does flame damage and has a low chance of inflicting burning.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<!-- flame punch line -->
	<key>flame punch</key>
	<dict>
		<key>damage</key> <integer>17</integer>
		<key>accuracy</key> <integer>75</integer>
		<key>type</key> <string>flame</string>
		<key>power points</key> <integer>15</integer>
		<!-- properties -->
		<key>enemy effects</key>
		<dict>
			<key>burning chance</key> <integer>10</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name swung a fiery fist *OnName!</string>
		<key>miss message</key> <string>*Name swung a fiery fist, but *OnName dodged it!</string>
		<key>description</key> <string>does flame damage and has a moderate chance of inflicting burning.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>inferno punch</key>
	<dict>
		<key>damage</key> <integer>34</integer>
		<key>accuracy</key> <integer>75</integer>
		<key>type</key> <string>flame</string>
		<key>power points</key> <integer>11</integer>
		<key>upgrade for</key> <string>flame punch</string>
		<!-- properties -->
		<key>enemy effects</key>
		<dict>
			<key>burning chance</key> <integer>10</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name swung a blazing fist *OnName!</string>
		<key>miss message</key> <string>*Name swung a blazing fist, but *OnName dodged it!</string>
		<key>description</key> <string>does flame damage and has a moderate chance of inflicting burning.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<!-- misc flame attacks -->
	<key>brand</key>
	<dict>
		<key>damage</key> <integer>25</integer>
		<key>accuracy</key> <integer>55</integer>
		<key>type</key> <string>flame</string>
		<key>power points</key> <integer>10</integer>
		<!-- properties -->
		<key>enemy effects</key>
		<dict>
			<key>defense steps</key> <integer>-1</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name touched *OnName with *his red-hot hands!</string>
		<key>miss message</key> <string>*Name heat up *his hands, but was unable to touch *OnName!</string>
		<key>description</key> <string>does flame damage and lowers the enemy's defense.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>flame grenade</key>
	<dict>
		<key>damage</key> <integer>31</integer>
		<key>accuracy</key> <integer>100</integer>
		<key>type</key> <string>flame</string>
		<key>power points</key> <integer>4</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>burning chance</key> <integer>75</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name threw a flame grenade at *OnName!</string>
		<key>miss message</key> <string>*Name threw a flame grenade at *OnName, but it was a dud!</string>
		<key>description</key> <string>does flame damage and has a high chance of inflicting burning.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<key>ignite</key>
	<dict>
		<key>damage</key> <integer>11</integer>
		<key>accuracy</key> <integer>100</integer>
		<key>type</key> <string>flame</string>
		<key>power points</key> <integer>10</integer>
		<!-- properties -->
		<key>ranged</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>burning chance</key> <integer>75</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name engulfed *OnName in flames!</string>
		<key>miss message</key> <string>*Name tried to ignite *OnName, but it didn't work!</string>
		<key>description</key> <string>does light flame damage and has a high chance of inflicting burning.</string>
		<key>tier</key> <integer>2</integer>
	</dict>
	<key>ultra heat</key>
	<dict>
		<key>damage</key> <integer>38</integer>
		<key>type</key> <string>flame</string>
		<key>power points</key> <integer>6</integer>
		<!-- properties -->
		<key>user effects</key>
		<dict>
			<key>freeze chance</key> <integer>100</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name radiated off all of *his body heat!</string>
		<key>description</key> <string>does heavy flame damage, but freezes the user.</string>
		<key>tier</key> <integer>2</integer>
	</dict>
	<!-- -->
	<!-- spark attacks -->
	<!-- -->
	<!-- shock line -->
	<key>shock</key>
	<dict>
		<key>damage</key> <integer>16</integer>
		<key>accuracy</key> <integer>80</integer>
		<key>type</key> <string>spark</string>
		<key>power points</key> <integer>15</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>paralysis chance</key> <integer>5</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name released a bolt of static electricity at *OnName!</string>
		<key>miss message</key> <string>*Name released a bolt of static electricity, which grounded itself nearby!</string>
		<key>description</key> <string>does spark damage and has a low chance of inflicting paralysis.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>electrocute</key>
	<dict>
		<key>damage</key> <integer>23</integer>
		<key>accuracy</key> <integer>80</integer>
		<key>type</key> <string>spark</string>
		<key>power points</key> <integer>13</integer>
		<key>upgrade for</key> <string>shock</string>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>paralysis chance</key> <integer>7</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name released a blast of electricity at *OnName!</string>
		<key>miss message</key> <string>*Name released a blast of electricity, which grounded itself nearby!</string>
		<key>description</key> <string>does spark damage and has a low chance of inflicting paralysis.</string>
		<key>tier</key> <integer>2</integer>
	</dict>
	<key>lightning bolt</key>
	<dict>
		<key>damage</key> <integer>32</integer>
		<key>accuracy</key> <integer>80</integer>
		<key>type</key> <string>spark</string>
		<key>power points</key> <integer>11</integer>
		<key>upgrade for</key> <string>electrocute</string>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>paralysis chance</key> <integer>5</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name released a bolt of lightning at *OnName!</string>
		<key>miss message</key> <string>*Name released a bolt of lightning at *OnName, which grounded itself nearby!</string>
		<key>description</key> <string>does spark damage and has a low chance of inflicting paralysis.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<!-- lightning blow line -->
	<key>lightning blow</key>
	<dict>
		<key>damage</key> <integer>18</integer>
		<key>accuracy</key> <integer>75</integer>
		<key>type</key> <string>spark</string>
		<key>power points</key> <integer>9</integer>
		<!-- properties -->
		<key>quick</key> <true/>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name launched a lightning-fast attack at *OnName!</string>
		<key>miss message</key> <string>*Name launched a lightning-fast attack at *OnName, but it went wide!</string>
		<key>description</key> <string>does spark damage and always goes first.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>lightning combo</key>
	<dict>
		<key>damage</key> <integer>36</integer>
		<key>accuracy</key> <integer>75</integer>
		<key>type</key> <string>spark</string>
		<key>power points</key> <integer>7</integer>
		<key>upgrade for</key> <string>lightning blow</string>
		<!-- properties -->
		<key>quick</key> <true/>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name launched a series of lightning-fast attacks at *OnName!</string>
		<key>miss message</key> <string>*Name tried to launch into an impressive combo, but was unable to land the first blow!</string>
		<key>description</key> <string>does spark damage and always goes first.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<!-- misc spark attacks -->
	<key>paralyzing touch</key>
	<dict>
		<key>damage</key> <integer>13</integer>
		<key>accuracy</key> <integer>90</integer>
		<key>type</key> <string>spark</string>
		<key>power points</key> <integer>9</integer>
		<!-- properties -->
		<key>enemy effects</key>
		<dict>
			<key>paralysis chance</key> <integer>75</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name touched *OnName with his crackling hand!</string>
		<key>miss message</key> <string>*Name electrocuted *his hand, but was unable to touch *OnName!</string>
		<key>description</key> <string>does light spark damage and has a high chance of inflicting paralysis.</string>
		<key>tier</key> <integer>2</integer>
	</dict>
	<key>electric sight</key>
	<dict>
		<key>damage</key> <integer>8</integer>
		<key>type</key> <string>spark</string>
		<key>power points</key> <integer>5</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>dodge steps</key> <integer>-1</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name activated *his deadly electric sight and turned it towards *OnName!</string>
		<key>description</key> <string>does light spark damage and lowers the enemy's evasion.</string>
		<key>tier</key> <integer>2</integer>
	</dict>
	<key>guided bolt</key>
	<dict>
		<key>damage</key> <integer>30</integer>
		<key>type</key> <string>spark</string>
		<key>power points</key> <integer>4</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name released an unerring bolt of lightning at *OnName!</string>
		<key>description</key> <string>does heavy spark damage.</string>
		<key>tier</key> <integer>2</integer>
	</dict>
	<key>shockwave</key>
	<dict>
		<key>damage</key> <integer>44</integer>
		<key>accuracy</key> <integer>65</integer>
		<key>type</key> <string>spark</string>
		<key>power points</key> <integer>10</integer>
		<!-- properties -->
		<key>ranged</key> <true/>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name flung a wave of thunder at *OnName!</string>
		<key>miss message</key> <string>*Name flung a wave of thunder, which flew off harmlessly into the distance!</string>
		<key>description</key> <string>does spark damage.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<!-- -->
	<!-- frost attacks -->
	<!-- -->
	<!-- snowball line -->
	<key>snowball</key>
	<dict>
		<key>damage</key> <integer>20</integer>
		<key>accuracy</key> <integer>70</integer>
		<key>type</key> <string>frost</string>
		<key>power points</key> <integer>17</integer>
		<!-- properties -->
		<key>ranged</key> <true/>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name threw a snowball at *OnName!</string>
		<key>miss message</key> <string>*Name threw a snowball, but missed the mark!</string>
		<key>description</key> <string>does frost damage.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>snow slam</key>
	<dict>
		<key>damage</key> <integer>30</integer>
		<key>accuracy</key> <integer>65</integer>
		<key>type</key> <string>frost</string>
		<key>power points</key> <integer>15</integer>
		<key>upgrade for</key> <string>snowball</string>
		<!-- properties -->
		<key>ranged</key> <true/>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name threw an armful of snow at *OnName!</string>
		<key>miss message</key> <string>*Name tried to throw an armful of snow, but it came apart in *his arms!</string>
		<key>description</key> <string>does frost damage.</string>
		<key>tier</key> <integer>2</integer>
	</dict>
	<key>ice fling</key>
	<dict>
		<key>damage</key> <integer>46</integer>
		<key>accuracy</key> <integer>60</integer>
		<key>type</key> <string>frost</string>
		<key>power points</key> <integer>13</integer>
		<key>upgrade for</key> <string>snow slam</string>
		<!-- properties -->
		<key>ranged</key> <true/>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name flung a big chunk of ice at *OnName!</string>
		<key>miss message</key> <string>*Name flung a big chunk of ice, but it completely missed!</string>
		<key>description</key> <string>does frost damage.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<!-- icicle line -->
	<key>icicle</key>
	<dict>
		<key>damage</key> <integer>17</integer>
		<key>accuracy</key> <integer>80</integer>
		<key>type</key> <string>frost</string>
		<key>power points</key> <integer>15</integer>
		<!-- properties -->
		<key>ranged</key> <true/>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name tossed an icicle at *OnName!</string>
		<key>miss message</key> <string>*Name tossed an icicle at *OnName, who dodged it!</string>
		<key>description</key> <string>does frost damage.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>ice shower</key>
	<dict>
		<key>damage</key> <integer>35</integer>
		<key>accuracy</key> <integer>80</integer>
		<key>type</key> <string>frost</string>
		<key>power points</key> <integer>11</integer>
		<key>upgrade for</key> <string>icicle</string>
		<!-- properties -->
		<key>ranged</key> <true/>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name tossed a dozen icicles at *OnName!</string>
		<key>miss message</key> <string>*Name tossed a dozen icicles at *OnName, who dodged every one!</string>
		<key>description</key> <string>does frost damage.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<!-- misc frost attacks -->
	<key>rime</key>
	<dict>
		<key>damage</key> <integer>14</integer>
		<key>accuracy</key> <integer>75</integer>
		<key>type</key> <string>frost</string>
		<key>power points</key> <integer>8</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>dodge steps</key> <integer>-1</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name touched *OnName with *his chilling hand!</string>
		<key>miss message</key> <string>*Name cooled down *his hand, but was unable to touch *OnName!</string>
		<key>description</key> <string>does light frost damage and lowers the enemy's evasion.</string>
		<key>tier</key> <integer>2</integer>
	</dict>
	<key>freeze ray</key>
	<dict>
		<key>damage</key> <integer>16</integer>
		<key>accuracy</key> <integer>90</integer>
		<key>type</key> <string>frost</string>
		<key>power points</key> <integer>8</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>freeze chance</key> <integer>75</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name fired a pale blue ray at *OnName!</string>
		<key>miss message</key> <string>*Name fired a pale blue ray, but it dissolved before it could do anything to *OnName!</string>
		<key>description</key> <string>does light frost damage and has a high chance of inflicting freeze.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<key>hypothermia</key>
	<dict>
		<key>damage</key> <integer>25</integer>
		<key>accuracy</key> <integer>70</integer>
		<key>type</key> <string>frost</string>
		<key>power points</key> <integer>6</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>paralysis chance</key> <integer>35</integer>
			<key>freeze chance</key> <integer>35</integer>
			<key>sleep chance</key> <integer>35</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name lowered *OnName's body heat to dangerous levels!</string>
		<key>miss message</key> <string>*Name tried to lower *OnName's body heat, but failed!</string>
		<key>description</key> <string>does frost damage and has a moderate chance of inflicting paralysis, freeze, or sleep.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<!-- -->
	<!-- typeless attacks -->
	<!-- -->
	<key>evade</key>
	<dict>
		<key>power points</key> <integer>8</integer>
		<!-- properties -->
		<key>user effects</key>
		<dict>
			<key>dodge steps</key> <integer>1</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name began to move erratically!</string>
		<key>description</key> <string>raises the user's evasion.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>hunker down</key>
	<dict>
		<key>power points</key> <integer>8</integer>
		<!-- properties -->
		<key>user effects</key>
		<dict>
			<key>defense steps</key> <integer>1</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name braced *himself for impact!</string>
		<key>description</key> <string>raises the user's defense.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>power up</key>
	<dict>
		<key>power points</key> <integer>8</integer>
		<!-- properties -->
		<key>user effects</key>
		<dict>
			<key>attack steps</key> <integer>1</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name began to tense up!</string>
		<key>description</key> <string>raises the user's attack.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>focus</key>
	<dict>
		<key>power points</key> <integer>8</integer>
		<!-- properties -->
		<key>user effects</key>
		<dict>
			<key>accuracy steps</key> <integer>1</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name began to concentrate!</string>
		<key>description</key> <string>raises the user's accuracy.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>intimidate</key>
	<dict>
		<key>power points</key> <integer>6</integer>
		<!-- properties -->
		<key>ranged</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>attack steps</key> <integer>-1</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name shot a scary look at *OnName!</string>
		<key>description</key> <string>lowers the enemy's attack.</string>
		<key>tier</key> <integer>2</integer>
	</dict>
	<key>rage</key>
	<dict>
		<key>power points</key> <integer>6</integer>
		<!-- properties -->
		<key>user effects</key>
		<dict>
			<key>attack steps</key> <integer>2</integer>
			<key>dodge steps</key> <integer>-1</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name whipped *himself into a frenzy!</string>
		<key>description</key> <string>raises the user's attack, but lowers their evasion.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>cleanse</key>
	<dict>
		<key>power points</key> <integer>4</integer>
		<!-- properties -->
		<key>user effects</key>
		<dict>
			<key>cleanse</key> <true/>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name calmed *himself down!</string>
		<key>description</key> <string>removes negative statuses from the user.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>hypnotize</key>
	<dict>
		<key>power points</key> <integer>6</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>sleep chance</key> <integer>75</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name stared at *OnName with enthralling eyes!</string>
		<key>description</key> <string>has a high chance of inflicting sleep.</string>
		<key>tier</key> <integer>2</integer>
	</dict>
	<key>lift off</key>
	<dict>
		<key>damage</key> <integer>12</integer>
		<key>accuracy</key> <integer>85</integer>
		<key>power points</key> <integer>6</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>user effects</key>
		<dict>
			<key>dodge steps</key> <integer>1</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name took off into the air, blasting *OnName with thunder!</string>
		<key>miss message</key> <string>*Name tried to take off into the air, but *OnName grabbed *his leg!</string>
		<key>description</key> <string>does light typeless damage and raises the user's evasion.</string>
		<key>tier</key> <integer>1</integer>
	</dict>
	<key>thunderbomb</key>
	<dict>
		<key>damage</key> <integer>30</integer>
		<key>power points</key> <integer>6</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>user effects</key>
		<dict>
			<key>dodge steps</key> <integer>-1</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name divebombed into *OnName, blasting the battlefield with thunder!</string>
		<key>description</key> <string>does heavy typeless damage, but lowers the user's evasion.</string>
		<key>tier</key> <integer>2</integer>
	</dict>
	<key>explode</key>
	<dict>
		<key>damage</key> <integer>50</integer>
		<key>power points</key> <integer>4</integer>
		<!-- properties -->
		<key>user effects</key>
		<dict>
			<key>defense steps</key> <integer>-6</integer>
			<key>bleed chance</key> <integer>100</integer>
		</dict>
		<key>enemy effects</key>
		<dict>
			<key>burning chance</key> <integer>25</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name yelled madly and exploded, blowing *his own armor into disarray!</string>
		<key>description</key> <string>does heavy typeless damage, but lowers the defense of the user and inflicts bleed on the user.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
	<key>experimental blaster</key>
	<dict>
		<key>damage</key> <integer>35</integer>
		<key>accuracy</key> <integer>85</integer>
		<key>power points</key> <integer>8</integer>
		<!-- properties -->
		<key>clever</key> <true/>
		<key>ranged</key> <true/>
		<key>enemy effects</key>
		<dict>
			<key>paralysis chance</key> <integer>6</integer>
			<key>freeze chance</key> <integer>4</integer>
			<key>bleed chance</key> <integer>4</integer>
			<key>burning chance</key> <integer>5</integer>
			<key>sleep chance</key> <integer>6</integer>
		</dict>
		<!-- appearance -->
		<!-- TODO: animation data -->
		<key>message</key> <string>*Name blasted *OnName with an experimental weapon!</string>
		<key>miss message</key> <string>*Name took out an experimental weapon, but it wouldn't fire!</string>
		<key>description</key> <string>does typeless damage and has a low chance of inflicting any status effect.</string>
		<key>tier</key> <integer>3</integer>
	</dict>
</dict>
</plist>