<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Items.plist
   PMinGame

   Created by Theodore Abshire on 11/7/15.
   Copyright (c) 2015 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>template</key>
	<dict>
		<key>heals</key> <integer>40</integer>
		<key>cure status</key> <true/>
		<key>cure steps</key> <true/>
		<key>targets dead</key> <true/>
		<key>targets alive</key> <true/>
		<key>use while immobile</key> <true/>
		<!-- cost info -->
		<key>cost</key> <integer>9999</integer>
		<key>can drop</key> <true/>
		<key>min shop level</key> <integer>9999</integer>
		<!-- appearance info -->
		<!-- TODO: animation data -->
		<!-- message info -->
		<key>message</key> <string>*Name was healed by the template item!</string>
		<key>description</key> <string>This item is very generic.</string>
	</dict>
	<!-- real items -->
	<key>poultice</key>
	<dict>
		<key>heals</key> <integer>40</integer>
		<key>targets alive</key> <true/>
		<!-- cost info -->
		<key>cost</key> <integer>20</integer>
		<key>can drop</key> <true/>
		<key>min shop level</key> <integer>0</integer>
		<!-- appearance info -->
		<!-- TODO: animation data -->
		<!-- message info -->
		<key>message</key> <string>*Name was healed by the healing poultice!</string>
		<key>description</key> <string>This primitive medicine is still fairly effective.</string>
	</dict>
	<key>salve</key>
	<dict>
		<key>heals</key> <integer>60</integer>
		<key>targets alive</key> <true/>
		<!-- cost info -->
		<key>cost</key> <integer>40</integer>
		<key>can drop</key> <true/>
		<key>min shop level</key> <integer>11</integer>
		<!-- appearance info -->
		<!-- TODO: animation data -->
		<!-- message info -->
		<key>message</key> <string>*Name was healed by the medicinal salve!</string>
		<key>description</key> <string>This common medicine has no marks of maker.</string>
	</dict>
	<key>dr tom's healing oil</key>
	<dict>
		<key>heals</key> <integer>80</integer>
		<key>targets alive</key> <true/>
		<!-- cost info -->
		<key>cost</key> <integer>60</integer>
		<key>can drop</key> <true/>
		<key>min shop level</key> <integer>22</integer>
		<!-- appearance info -->
		<!-- TODO: animation data -->
		<!-- message info -->
		<key>message</key> <string>*Name was healed by the brand-name medicine!</string>
		<key>description</key> <string>This expensive medicine has a brand name and is therefore amazing.</string>
	</dict>
	<key>smelling salts</key>
	<dict>
		<key>heals</key> <integer>20</integer>
		<key>targets dead</key> <true/>
		<!-- cost info -->
		<key>cost</key> <integer>40</integer>
		<key>min shop level</key> <integer>0</integer>
		<!-- appearance info -->
		<!-- TODO: animation data -->
		<!-- message info -->
		<key>message</key> <string>*Name was revived by the smelling salts!</string>
		<key>description</key> <string>This stick of harsh-smelling substance could wake the dead.</string>
	</dict>
	<key>remedy</key>
	<dict>
		<key>cure status</key> <true/>
		<key>targets alive</key> <true/>
		<key>use while immobile</key> <true/>
		<!-- cost info -->
		<key>cost</key> <integer>20</integer>
		<key>min shop level</key> <integer>0</integer>
		<!-- appearance info -->
		<!-- TODO: animation data -->
		<!-- message info -->
		<key>message</key> <string>*Name was cured by the remedy!</string>
		<key>description</key> <string>This fancy medicine cures any ills or ailments.</string>
	</dict>
	<key>restorative</key>
	<dict>
		<key>cure steps</key> <true/>
		<key>targets alive</key> <true/>
		<!-- cost info -->
		<key>cost</key> <integer>20</integer>
		<key>min shop level</key> <integer>0</integer>
		<!-- appearance info -->
		<!-- TODO: animation data -->
		<!-- message info -->
		<key>message</key> <string>*Name was invigorated by the restorative!</string>
		<key>description</key> <string>This fancy medicine invigorates tired minds and muscles.</string>
	</dict>
	<key>miracle cure</key>
	<dict>
		<key>heals</key> <integer>40</integer>
		<key>cure status</key> <true/>
		<key>cure steps</key> <true/>
		<key>targets alive</key> <true/>
		<key>use while immobile</key> <true/>
		<!-- cost info -->
		<key>cost</key> <integer>50</integer>
		<key>min shop level</key> <integer>15</integer>
		<!-- appearance info -->
		<!-- TODO: animation data -->
		<!-- message info -->
		<key>message</key> <string>*Name was restored by the miracle cure!</string>
		<key>description</key> <string>This amazing medicine will cure all that ails you.</string>
	</dict>
</dict>
</plist>
