<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Jobs.plist
   PMinGame

   Created by Theodore Abshire on 11/3/15.
   Copyright (c) 2015 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>template</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>50</integer>
		<key>accuracy</key> <integer>10</integer>
		<key>dodge</key> <integer>10</integer>
		<key>brute attack</key> <integer>10</integer>
		<key>brute defense</key> <integer>10</integer>
		<key>clever attack</key> <integer>10</integer>
		<key>clever defense</key> <integer>10</integer>
		<!-- misc -->
		<key>type</key> <string>physical</string>
		<key>burning immunity</key> <true/>
		<key>bleed immunity</key> <true/>
		<key>paralysis immunity</key> <true/>
		<key>freeze immunity</key> <true/>
		<key>sleep immunity</key> <true/>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>sword</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<!-- player starting jobs -->
	<key>mystic</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>45</integer>
		<key>accuracy</key> <integer>11</integer>
		<key>dodge</key> <integer>12</integer>
		<key>brute attack</key> <integer>10</integer>
		<key>brute defense</key> <integer>8</integer>
		<key>clever attack</key> <integer>10</integer>
		<key>clever defense</key> <integer>8</integer>
		<!-- misc -->
		<key>type</key> <string>physical</string>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>phase touch</string>
			<key>4</key> <string>slam</string>
			<key>8</key> <string>feint</string>
			<key>10</key> <string>ghost touch</string>
			<key>14</key> <string>cleanse</string>
			<key>18</key> <string>power up</string>
			<key>20</key> <string>heartstopper</string>
			<key>23</key> <string>heavy slam</string>
			<key>26</key> <string>astral wheel</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<key>soldier</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>50</integer>
		<key>accuracy</key> <integer>10</integer>
		<key>dodge</key> <integer>8</integer>
		<key>brute attack</key> <integer>11</integer>
		<key>brute defense</key> <integer>11</integer>
		<key>clever attack</key> <integer>9</integer>
		<key>clever defense</key> <integer>13</integer>
		<!-- misc -->
		<key>type</key> <string>physical</string>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>musket</string>
			<key>2</key> <string>puff of flame</string>
			<key>6</key> <string>hunker down</string>
			<key>10</key> <string>rifle</string>
			<key>13</key> <string>flamethrower</string>
			<key>17</key> <string>focus</string>
			<key>20</key> <string>clockwork rifle</string>
			<key>23</key> <string>flame grenade</string>
			<key>26</key> <string>hellfire</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<key>inventor</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>50</integer>
		<key>accuracy</key> <integer>12</integer>
		<key>dodge</key> <integer>9</integer>
		<key>brute attack</key> <integer>8</integer>
		<key>brute defense</key> <integer>9</integer>
		<key>clever attack</key> <integer>11</integer>
		<key>clever defense</key> <integer>10</integer>
		<!-- misc -->
		<key>type</key> <string>physical</string>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>shock</string>
			<key>4</key> <string>net gun</string>
			<key>7</key> <string>knife</string>
			<key>10</key> <string>electrocute</string>
			<key>14</key> <string>electric sight</string>
			<key>17</key> <string>barbed knife</string>
			<key>20</key> <string>lightning bolt</string>
			<key>23</key> <string>experimental blaster</string>
			<key>26</key> <string>monoedge</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<key>barbarian</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>55</integer>
		<key>accuracy</key> <integer>9</integer>
		<key>dodge</key> <integer>10</integer>
		<key>brute attack</key> <integer>13</integer>
		<key>brute defense</key> <integer>10</integer>
		<key>clever attack</key> <integer>9</integer>
		<key>clever defense</key> <integer>8</integer>
		<!-- misc -->
		<key>type</key> <string>physical</string>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>sword</string>
			<key>2</key> <string>subdue</string>
			<key>4</key> <string>snowball</string>
			<key>10</key> <string>rage</string>
			<key>12</key> <string>chainsaw</string>
			<key>15</key> <string>snow slam</string>
			<key>20</key> <string>vibrating blade</string>
			<key>23</key> <string>storm hammer</string>
			<key>26</key> <string>ice fling</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<!-- ne'er-do-wells -->
	<key>fencer</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>45</integer>
		<key>accuracy</key> <integer>11</integer>
		<key>dodge</key> <integer>11</integer>
		<key>brute attack</key> <integer>11</integer>
		<key>brute defense</key> <integer>9</integer>
		<key>clever attack</key> <integer>9</integer>
		<key>clever defense</key> <integer>9</integer>
		<!-- misc -->
		<key>type</key> <string>physical</string>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>sword</string>
			<key>3</key> <string>feint</string>
			<key>10</key> <string>chainsaw</string>
			<key>13</key> <string>power up</string>
			<key>20</key> <string>vibrating blade</string>
			<key>24</key> <string>shockwave</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<key>rogue</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>45</integer>
		<key>accuracy</key> <integer>10</integer>
		<key>dodge</key> <integer>12</integer>
		<key>brute attack</key> <integer>9</integer>
		<key>brute defense</key> <integer>7</integer>
		<key>clever attack</key> <integer>9</integer>
		<key>clever defense</key> <integer>13</integer>
		<!-- misc -->
		<key>type</key> <string>physical</string>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>knife</string>
			<key>2</key> <string>mug</string>
			<key>5</key> <string>subdue</string>
			<key>10</key> <string>barbed knife</string>
			<key>16</key> <string>evade</string>
			<key>20</key> <string>grenade</string>
			<key>23</key> <string>monoedge</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<key>pyromaniac</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>50</integer>
		<key>accuracy</key> <integer>12</integer>
		<key>dodge</key> <integer>9</integer>
		<key>brute attack</key> <integer>9</integer>
		<key>brute defense</key> <integer>10</integer>
		<key>clever attack</key> <integer>11</integer>
		<key>clever defense</key> <integer>8</integer>
		<!-- misc -->
		<key>type</key> <string>flame</string>
		<key>burning immunity</key> <true/>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>puff of flame</string>
			<key>3</key> <string>brand</string>
			<key>8</key> <string>sword</string>
			<key>10</key> <string>flamethrower</string>
			<key>17</key> <string>chainsaw</string>
			<key>20</key> <string>hellfire</string>
			<key>22</key> <string>explode</string>
			<key>26</key> <string>vibrating blade</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<key>cryoman</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>50</integer>
		<key>accuracy</key> <integer>10</integer>
		<key>dodge</key> <integer>8</integer>
		<key>brute attack</key> <integer>12</integer>
		<key>brute defense</key> <integer>11</integer>
		<key>clever attack</key> <integer>10</integer>
		<key>clever defense</key> <integer>11</integer>
		<!-- misc -->
		<key>type</key> <string>frost</string>
		<key>freeze immunity</key> <true/>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>snowball</string>
			<key>3</key> <string>slam</string>
			<key>10</key> <string>snow slam</string>
			<key>17</key> <string>heavy slam</string>
			<key>20</key> <string>ice fling</string>
			<key>26</key> <string>freeze ray</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<!-- machines -->
	<key>warbot</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>55</integer>
		<key>accuracy</key> <integer>9</integer>
		<key>dodge</key> <integer>9</integer>
		<key>brute attack</key> <integer>10</integer>
		<key>brute defense</key> <integer>11</integer>
		<key>clever attack</key> <integer>10</integer>
		<key>clever defense</key> <integer>11</integer>
		<!-- misc -->
		<key>type</key> <string>physical</string>
		<key>bleed immunity</key> <true/>
		<key>sleep immunity</key> <true/>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>slam</string>
			<key>2</key> <string>hunker down</string>
			<key>10</key> <string>grenade</string>
			<key>14</key> <string>power up</string>
			<key>20</key> <string>heavy slam</string>
			<key>24</key> <string>net gun</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<key>AI</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>45</integer>
		<key>accuracy</key> <integer>11</integer>
		<key>dodge</key> <integer>8</integer>
		<key>brute attack</key> <integer>11</integer>
		<key>brute defense</key> <integer>12</integer>
		<key>clever attack</key> <integer>11</integer>
		<key>clever defense</key> <integer>10</integer>
		<!-- misc -->
		<key>type</key> <string>astral</string>
		<key>bleed immunity</key> <true/>
		<key>sleep immunity</key> <true/>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>phase touch</string>
			<key>4</key> <string>shock</string>
			<key>10</key> <string>ghost touch</string>
			<key>14</key> <string>electrocute</string>
			<key>20</key> <string>heartstopper</string>
			<key>25</key> <string>lightning bolt</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<key>lightning bot</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>45</integer>
		<key>accuracy</key> <integer>9</integer>
		<key>dodge</key> <integer>12</integer>
		<key>brute attack</key> <integer>9</integer>
		<key>brute defense</key> <integer>8</integer>
		<key>clever attack</key> <integer>13</integer>
		<key>clever defense</key> <integer>10</integer>
		<!-- misc -->
		<key>type</key> <string>spark</string>
		<key>bleed immunity</key> <true/>
		<key>sleep immunity</key> <true/>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>shock</string>
			<key>8</key> <string>paralyzing touch</string>
			<key>10</key> <string>electrocute</string>
			<key>16</key> <string>guided bolt</string>
			<key>20</key> <string>lightning bolt</string>
			<key>25</key> <string>power up</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<key>soldier robot</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>50</integer>
		<key>accuracy</key> <integer>12</integer>
		<key>dodge</key> <integer>8</integer>
		<key>brute attack</key> <integer>12</integer>
		<key>brute defense</key> <integer>9</integer>
		<key>clever attack</key> <integer>8</integer>
		<key>clever defense</key> <integer>11</integer>
		<!-- misc -->
		<key>type</key> <string>physical</string>
		<key>bleed immunity</key> <true/>
		<key>sleep immunity</key> <true/>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>musket</string>
			<key>6</key> <string>focus</string>
			<key>10</key> <string>rifle</string>
			<key>16</key> <string>electric sight</string>
			<key>20</key> <string>clockwork rifle</string>
			<key>24</key> <string>hunker down</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<key>exterminator</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>55</integer>
		<key>accuracy</key> <integer>9</integer>
		<key>dodge</key> <integer>9</integer>
		<key>brute attack</key> <integer>11</integer>
		<key>brute defense</key> <integer>10</integer>
		<key>clever attack</key> <integer>11</integer>
		<key>clever defense</key> <integer>10</integer>
		<!-- misc -->
		<key>type</key> <string>physical</string>
		<key>bleed immunity</key> <true/>
		<key>sleep immunity</key> <true/>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>puff of flame</string>
			<key>4</key> <string>slam</string>
			<key>10</key> <string>flamethrower</string>
			<key>13</key> <string>ignite</string>
			<key>20</key> <string>heavy slam</string>
			<key>23</key> <string>hellfire</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<!-- undead -->
	<key>honored dead</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>50</integer>
		<key>accuracy</key> <integer>10</integer>
		<key>dodge</key> <integer>12</integer>
		<key>brute attack</key> <integer>11</integer>
		<key>brute defense</key> <integer>8</integer>
		<key>clever attack</key> <integer>9</integer>
		<key>clever defense</key> <integer>8</integer>
		<!-- misc -->
		<key>type</key> <string>astral</string>
		<key>bleed immunity</key> <true/>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>phase touch</string>
			<key>2</key> <string>cleanse</string>
			<key>10</key> <string>ghost touch</string>
			<key>16</key> <string>hunker down</string>
			<key>20</key> <string>heartstopper</string>
			<key>25</key> <string>astral wheel</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<key>life thief</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>55</integer>
		<key>accuracy</key> <integer>9</integer>
		<key>dodge</key> <integer>11</integer>
		<key>brute attack</key> <integer>9</integer>
		<key>brute defense</key> <integer>8</integer>
		<key>clever attack</key> <integer>11</integer>
		<key>clever defense</key> <integer>10</integer>
		<!-- misc -->
		<key>type</key> <string>physical</string>
		<key>sleep immunity</key> <true/>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>energy drain</string>
			<key>7</key> <string>slam</string>
			<key>10</key> <string>hypnotize</string>
			<key>16</key> <string>power up</string>
			<key>20</key> <string>super drain</string>
			<key>24</key> <string>heavy slam</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<key>frozen soul</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>50</integer>
		<key>accuracy</key> <integer>10</integer>
		<key>dodge</key> <integer>8</integer>
		<key>brute attack</key> <integer>12</integer>
		<key>brute defense</key> <integer>13</integer>
		<key>clever attack</key> <integer>8</integer>
		<key>clever defense</key> <integer>11</integer>
		<!-- misc -->
		<key>type</key> <string>frost</string>
		<key>freeze immunity</key> <true/>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>snowball</string>
			<key>8</key> <string>rime</string>
			<key>10</key> <string>snow slam</string>
			<key>18</key> <string>freeze ray</string>
			<key>20</key> <string>ice fling</string>
			<key>27</key> <string>astral wheel</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<key>shape of fire</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>40</integer>
		<key>accuracy</key> <integer>13</integer>
		<key>dodge</key> <integer>9</integer>
		<key>brute attack</key> <integer>11</integer>
		<key>brute defense</key> <integer>7</integer>
		<key>clever attack</key> <integer>13</integer>
		<key>clever defense</key> <integer>9</integer>
		<!-- misc -->
		<key>type</key> <string>flame</string>
		<key>burning immunity</key> <true/>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>puff of flame</string>
			<key>4</key> <string>blinding light</string>
			<key>8</key> <string>brand</string>
			<key>10</key> <string>flamethrower</string>
			<key>15</key> <string>ignite</string>
			<key>20</key> <string>hellfire</string>
			<key>23</key> <string>rage</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<key>dancing lights</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>45</integer>
		<key>accuracy</key> <integer>11</integer>
		<key>dodge</key> <integer>11</integer>
		<key>brute attack</key> <integer>12</integer>
		<key>brute defense</key> <integer>9</integer>
		<key>clever attack</key> <integer>8</integer>
		<key>clever defense</key> <integer>9</integer>
		<!-- misc -->
		<key>type</key> <string>spark</string>
		<key>paralysis immunity</key> <true/>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>lightning blow</string>
			<key>5</key> <string>subdue</string>
			<key>10</key> <string>evade</string>
			<key>13</key> <string>paralyzing touch</string>
			<key>20</key> <string>lightning combo</string>
			<key>28</key> <string>shockwave</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<!-- mercenaries -->
	<key>sour knight</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>60</integer>
		<key>accuracy</key> <integer>8</integer>
		<key>dodge</key> <integer>8</integer>
		<key>brute attack</key> <integer>11</integer>
		<key>brute defense</key> <integer>13</integer>
		<key>clever attack</key> <integer>9</integer>
		<key>clever defense</key> <integer>11</integer>
		<!-- misc -->
		<key>type</key> <string>physical</string>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>slam</string>
			<key>3</key> <string>sword</string>
			<key>10</key> <string>intimidate</string>
			<key>13</key> <string>chainsaw</string>
			<key>18</key> <string>guided bolt</string>
			<key>20</key> <string>heavy slam</string>
			<key>24</key> <string>vibrating blade</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<key>cold killer</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>45</integer>
		<key>accuracy</key> <integer>12</integer>
		<key>dodge</key> <integer>10</integer>
		<key>brute attack</key> <integer>9</integer>
		<key>brute defense</key> <integer>9</integer>
		<key>clever attack</key> <integer>10</integer>
		<key>clever defense</key> <integer>10</integer>
		<!-- misc -->
		<key>type</key> <string>frost</string>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>icicle</string>
			<key>4</key> <string>knife</string>
			<key>10</key> <string>rime</string>
			<key>13</key> <string>barbed knife</string>
			<key>20</key> <string>monoedge</string>
			<key>22</key> <string>ice shower</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
	<key>scout</key>
	<dict>
		<!-- stats -->
		<key>health</key> <integer>50</integer>
		<key>accuracy</key> <integer>9</integer>
		<key>dodge</key> <integer>11</integer>
		<key>brute attack</key> <integer>11</integer>
		<key>brute defense</key> <integer>10</integer>
		<key>clever attack</key> <integer>11</integer>
		<key>clever defense</key> <integer>8</integer>
		<!-- misc -->
		<key>type</key> <string>spark</string>
		<key>attacks</key>
		<dict>
			<key>1</key> <string>musket</string>
			<key>3</key> <string>lightning blow</string>
			<key>7</key> <string>focus</string>
			<key>10</key> <string>rifle</string>
			<key>12</key> <string>grenade</string>
			<key>16</key> <string>electric sight</string>
			<key>20</key> <string>clockwork rifle</string>
			<key>24</key> <string>lightning combo</string>
		</dict>
		<!-- appearance -->
		<!-- TODO: race -->
		<!-- TODO: appearance variables I guess -->
	</dict>
</dict>
</plist>