<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Tilesets.plist
   PMinGame

   Created by Theodore Abshire on 12/3/15.
   Copyright (c) 2015 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>template</key>
	<dict>
		<key>wall</key> <string>wall</string>
		<key>floor</key> <string>floor</string>
		<key>encounter floor</key> <string>encounter floor</string>
		<key>spike</key> <string>spike</string>
		<key>gate</key> <string>gate</string>
	</dict>
	<!-- real tilesets -->
</dict>
</plist>
